.contact-inputs{
    @apply w-[45%] py-2 font-serif border-b-2 border-gray-400 bg-transparent focus:outline-none
}

.booking-inputs{
    @apply w-full border border-black rounded-md px-4 py-2 text-base
}