.main-box{
    @apply w-full overflow-x-hidden flex flex-col
}

.sections{
    @apply w-full flex items-center px-6 lg:px-10 box-border py-10
}

.section-1-bg{
    @apply h-dvh xl:h-[950px] bg-[url(../assets/Section1.svg)] bg-center bg-no-repeat bg-cover
}

.sections-tittle{
    @apply text-[#FF7F50] font-serif text-center text-lg
}

.sections-description{
    @apply font-serif text-[#666666]
}

.sections-box{
    @apply w-full md:w-[50%] flex flex-col box-border
}

.section-2-description-box{
    @apply w-full lg:w-[90%] xl:w-[80%] h-fit box-border bg-[#F8FBFD] border border-[#EBF0F1] rounded-[2.5rem] grid grid-cols-1 md:grid-cols-2 shadow-md p-4 xl:p-8
}

.section-2-description-box > article{
    @apply size-full border-[#EBF0F1] flex flex-col items-center p-1 xl:p-3
}

.services-cards{
    @apply w-full md:w-[45%] lg:w-[22%] xl:w-[20%] h-[350px] bg-white shadow-md rounded-[1.5rem] flex flex-col items-center justify-center gap-4 box-border px-6
}

.services-cards > div{
    @apply size-20 rounded-full flex justify-center items-center
}

.services-cards > h3{
    @apply font-serif text-xl lg:text-lg xl:text-xl capitalize font-bold text-black text-center
}

.services-cards > div > div {
    @apply size-6
}

.another-sections-tittle{
    @apply font-serif text-3xl xl:text-4xl capitalize text-[#333333]
}

.section-4{
    @apply w-full flex max-sm:flex-col justify-center
}

.section-4 > div {
    @apply w-fit flex flex-col gap-4 justify-center 
}

.section-5{
    @apply w-full bg-[#E0F4F5] p-10 box-border flex flex-col items-center rounded-xl gap-12
}

.section-5 > div{
    @apply w-[60%] bg-white p-16 flex flex-col gap-4 box-border rounded-xl
}