.main-box{
    @apply w-full overflow-x-hidden flex flex-col
}

.sections{
    @apply w-full flex items-center p-14 box-border
}

.section-1{
    @apply h-[950px] bg-[url(../assets/Section1.svg)] bg-center bg-no-repeat bg-cover
}

.hero-heading{
    @apply text-7xl font-serif text-[#333333]
}

.sections-tittle{
    @apply text-[#FF7F50] font-serif text-center
}

.sections-description{
    @apply font-serif text-[#666666]
}

.sections-box{
    @apply w-[50%] flex flex-col items-start box-border
}

.section-2-description-box{
    @apply w-[90%] h-[250px] box-border bg-[#F8FBFD] border border-[#EBF0F1] rounded-[2.5rem] grid grid-cols-2 shadow-md
}

.section-2-description-box > article{
    @apply size-full border-[#EBF0F1] flex flex-col justify-center box-border px-12
}

.services-cards{
    @apply w-[20%] h-[350px] bg-white shadow-md rounded-[1.5rem] flex flex-col items-center gap-4 box-border p-12
}

.services-cards > div{
    @apply w-[40%] h-[30%] rounded-full flex justify-center items-center
}

.services-cards > h3{
    @apply font-serif text-lg capitalize font-bold text-black text-center
}

.services-cards > div > div {
    @apply w-[35%] h-[35%]
}

.another-sections-tittle{
    @apply font-serif text-5xl capitalize text-[#333333]
}

.section-4{
    @apply w-full flex justify-center
}

.section-4 > div {
    @apply w-fit flex flex-col gap-4 justify-center 
}

.section-5{
    @apply w-full bg-[#E0F4F5] p-10 box-border flex flex-col items-center rounded-xl gap-12
}

.section-5 > div{
    @apply w-[60%] bg-white p-16 flex flex-col gap-4 box-border rounded-xl
}